<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="#" />
        <title>
        {% if title %} [ {% endif %}  {{ title|escape }}
        {% if title %} ] {% endif %}
        </title>

        {% include 'scripts.html'%}


        {% block extrahead %}{% endblock %}
        {% block extrastyle %}{% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock content%}
    </body>
</html>
